<div class="post">
    <div><button data-bind="click: back">Back</button></div>
    <div data-bind="with: currentPost">
        <h1 data-bind="text: title"></h1>
        <h3>Date: <span data-bind="text: creationDate"></span></h3>
        <h3>Score: <span data-bind="text: score"></span></h3>
        <div data-bind="html: body"></div>
        <div data-bind="if: $parent.hasAnswers">-->
            <div><button data-bind="click: $parent.back">Back</button></div>
            <h3>Answers:</h3>
            <div data-bind="foreach: answers">
                <div style="background: lightgrey; margin: 20px; border: 1px solid black">
                    <h4>Date: <span data-bind="text: creationDate"></span></h4>
                    <h4>Score: <span data-bind="text: score"></span></h4>
                    <div data-bind="html: body"></div>
                </div>
            </div>
        </div>
    </div>
    <div><button data-bind="click: back">Back</button></div>

</div>